@import 'normalize.css';

body {
  background: linear-gradient(#0f5945, #04140d);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  margin: 0;
  overflow: hidden;

  color: white;
}
